/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 400px;
    width: 400px;
    margin: 100px auto;
    border-radius: 20px;
  }

  #details-container #map{
    margin: 30px auto;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */