:root{
    --lighter-grey:#f8f8f8;
    --light-grey:#f0f0f0;
    --dark-grey:#e5e5e5;
    --darker-grey:#cacaca;
    --darkest-grey:#757575;
    --light-black:#2a2f3b;
    --black:#111111;
    --nav-text-color:#323232;
    --positive-color:#3bedb7;
    --negative-color:#ce1717;
    --focus-color:#7731d8;
  }
  body{
    background-color: var(--lighter-grey);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
  }
  
  select:hover, option:hover,button:hover,input[type="submit"]:hover,tbody tr:hover{
    cursor: pointer;
  }
  
  #nav-bar{
    background-color: var(--lighter-grey);
    display: flex;
    padding: 0 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  
  #nav-bar #left{
    display: flex;
    align-items: center;
  }
  
  #nav-bar img{
    width: 40px;
      margin: 0 auto;
  }
  
  #nav-bar #right{
    margin: auto 0 auto auto;
  }
  
  #nav-bar ul{
    display: flex;
    font-size: 17px;
    font-weight: bold;
  }
  
  #nav-bar ul li{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: 50px;
  }
  
  #nav-bar ul .nav-button-container{
    margin-left: 25px;
  }
  
  #nav-bar ul .nav-button-container button{
      font-size: 15px;
      padding: 15px 20px;
      border-radius: 10px;
      margin-left: 20px;
  }
  
  #nav-bar ul li a{
    color: var(--nav-text-color);
    text-decoration: none;
  }
  
  #nav-bar .notification-image img{
    width: 25px;
  }
  
  #nav-bar .notification-image{
    position: relative;
    margin-left: 30px;
  }
  
  #nav-bar .notification-image::after{
    display: block;
    position: absolute;
    right: -5px;
    top: -5px;
    background-color: var(--negative-color);
    content: "4";
    font-size:9px;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #nav-bar .notification-image:hover{
    cursor: pointer;
  }
  
  
  #container{
    padding: 0 20px;
  }
  
  h1{
    font-size: 60px;
    text-align: center;
    margin: 60px 0 100px 0;
  }
  
  #list-container{
      display: grid;
      grid-template-columns: 25% 75%;
  }
  
  #filter-container{
    padding-top: 20px;
    padding-right: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  #filter-container h3{
    font-size: 22px;
    margin: 0 0 30px 0;
  }
  
  .filter-column-container{
      display: flex;
      margin-bottom: 40px;
    }
  
    .filter-column{
      display: flex;
      align-items: center;
    }
  
  #filter-container select{
    font-size: 13px;
    width: 140px;
    background-color: var(--dark-grey);
    padding: 5px 5px;
    border: none;
    border-radius: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 10px 0 auto;
  }
  
  #filter-container select:focus {
    outline: none;
  }
  
  #filter-container button{
    margin: 0 auto;
  }
  
  #table-container table{
      margin: 0 auto;
  }
    
  .search-bar {
  position: relative;
  display: flex;
  align-items: center; /* Margin auto to center vert does not work*/
  height: 45px;
  background: var(--dark-grey);
  border-radius: 25px;
  width: 750px;
  margin: 0 auto;
  }
  
  .search-bar .input {
    background: none;
    border: none;
    outline: none;
    float: left;
    color: var(--black);
    font-size: 16px;
    line-height: 30px;
    padding-left:20px;
    width: 45vw;
  }
  
  .search-bar ::placeholder{
    font-size: 16px;
    color:var(--darkest-grey)
  }
  
  .edit-search-buttons{
    display: flex;
  }
  
  .search-icon{
    background-color: transparent;
    justify-self:right;
    margin: 0 20px 0 auto;
    border-radius: 25px;
    /* border: 2px solid white; */
  }
  
  .search-icon img{
    width: 22px;
    height: 22px;
    right: 9px;
    top: 0;
    bottom: 0;
  }
  
  
  .line-below,.line-below-dark{
    position: relative;
  }
  
  .line-below::after,.line-below-dark::after{
    content: "";
    position: absolute;
    left: 0px;
    background-color: var(--darker-grey);
    width: 100%;
    height: 1px;
    bottom: -15px;
  }
  
  .white::after{
    background-color: var(--darkest-grey);
  }
  
  .line-below-dark::after{
    background-color: var(--darkest-grey);
    bottom: -25px;
  }
  
  /* Table */
  
  #table-container{
    height: auto;
    margin-top: 40px;
    max-height: 400px;
    padding: 0 40px;
    overflow: auto;
  }
  
  table {
    font-size: 16px;
    border-collapse: separate;
    border-spacing: 0; /*make the borders touching each other*/
    width: 100%;
    border-radius: 20px;
  }
  
  table svg{
    top: 1px;
    margin-left: 2px;
  }
  
  /* BORDER START */
  
  td, th {
    border: 1px solid var(--darker-grey);
    text-align: left;
    padding: 8px;
  }
  
  table th{
    border-top: 2px solid var(--darker-grey);  /*top border of head*/
  }
  
  table tr:first-child th:first-child{ 
    border-top-left-radius: 10px;      /*left border of first head*/
  }
  
  table td:first-child,table tr:first-child th:first-child{
    border-left: 2px solid var(--darker-grey); /*left border of first td*/
  }
    
  table tr:first-child th:last-child {
    border-top-right-radius: 10px;   
  }
  
  table td:last-child, table tr:first-child th:last-child{
    border-right: 2px solid var(--darker-grey);;
  }
  
  table tr:last-child td{
    border-bottom: 2px solid var(--darker-grey);;
  }
  
  table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }
    
  table tr:last-child td:last-child {
      border-bottom-right-radius: 10px;
  }
  
  
  #filter-container::-webkit-scrollbar, #table-container::-webkit-scrollbar,.dropdown-menu::-webkit-scrollbar{
    height: 2px; /* overflowX */
    width: 5px; /* overflowY */
  }
  /* Track */
  #filter-container::-webkit-scrollbar-track, #table-container::-webkit-scrollbar-track,.dropdown-menu::-webkit-scrollbar-track{
    background-color: var(--light-grey);
    border-radius: 10px;
    }
    
    /* Handle */
  #filter-container::-webkit-scrollbar-thumb, #table-container::-webkit-scrollbar-thumb,.dropdown-menu::-webkit-scrollbar-thumb{
    background-color: var(--darker-grey); 
    border-radius: 10px;
    }
  
    .button-container{
      display: flex;
      justify-content: center;
      position: relative;
    }
  
    button,input[type="submit"]{
      padding: 10px 30px;
      font-weight: bold;
      border-radius: 15px;
      border: none;
    }
  
    .neutral-button{
      background-color: var(--dark-grey);
    }
  
    .positive-button{
      font-size: 16px;
      background-color: var(--focus-color);
      color: white;
      padding: 15px 30px;
      border-radius: 40px;
    }
  
    .negative-button{
      font-size: 16px;
      color: white;
      background-color: var(--negative-color);
      position: absolute;
      right: 0;
      bottom: 0;
    }
  
    .focus-button{
      background-color: var(--focus-color);
      color: white;
    }
  
    input[type="submit"],.submit{
      font-size: 20px;
      padding: 15px 40px;
      border-radius: 40px;
    }
  
  
    /* Single details page */
  
    #details-container{
      margin: 100px auto 0 auto;
      width: 800px;
      background-color: var(--light-grey);
      padding: 10px 50px 30px 50px;
      border-radius: 30px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
  
    #details-container h2{
      font-size: 35px;
      text-align: center;
      margin-bottom: 60px;
    }
  
    #details-container .column-name{
      font-size: 20px;
      font-weight: bold;
    }
  
    #details-container span{
      font-size: 18px;
      font-weight: normal;
    }
  
    #details-container .column-value{
      margin-bottom: 20px;
    }
  
    #dashboard-container h1{
      margin-bottom: 70px;
    }
  
    .dashboard-inner-container{
      display: grid;
      grid-template-columns: 30% 30% 30%;
      gap: 5%;
      margin: 20px 30px 50px 30px;
    }
  
    .dashboard-button{
      background-color: var(--focus-color);
      color: white;
      font-size: 20px;
      padding: 30px 30px;
      width: 350px;
      margin: 0 auto;
    }
  
    #dashboard-container{
      margin-top: 150px;
    }
  
    .flex-center{
      display: flex;
      justify-content: center;
      align-items: center;
    }